<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <!-- %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"} -->
  <title></title>
  <meta content="Bootsrap based theme" name="description" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="favicon.ico" rel="shortcut icon" />
<link href="../../inishal/static/images/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
<link href="../../inishal/static/images/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
<link href="../../inishal/static/images/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed" />
  <link href="../../inishal/static/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../../inishal/static/stylesheets/responsive.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../../inishal/static/stylesheets/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../../inishal/static/stylesheets/theme.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../../inishal/static/stylesheets/fonts.css" media="screen" rel="stylesheet" type="text/css" />
</head>
  <body class="theme-pattern-lightmesh" data-spy="scroll" data-target=".docs-sidebar-menu">
    <!-- Page Header -->
    <header id="masthead">
      <nav class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <h1 class="brand">
              <a href="index.html">
                Smartbiz
                <i class="icon-beaker"></i>
              </a>
            </h1>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li class=""><a href="index.html">Home</a></li>
                <li class="dropdown active">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="about.html">About Us Page</a>
                    </li>
                    <li>
                      <a href="services.html">Services page</a>
                    </li>
                    <li>
                      <a href="faq.html">FAQ page</a>
                    </li>
                    <li>
                      <a href="pricing.html">Pricing</a>
                    </li>
                    <li>
                      <a href="testimonials.html">Testimonials</a>
                    </li>
                    <li>
                      <a href="docs.html">Docs page</a>
                    </li>
                    <li>
                      <a href="404.html">404 page</a>
                    </li>
                    <li>
                      <a href="post.html">Single post</a>
                    </li>
                    <li>
                      <a href="sidebar-right.html">Right sidebar</a>
                    </li>
                    <li>
                      <a href="sidebar-left.html">Left sidebar</a>
                    </li>
                    <li>
                      <a href="fullwidth.html">Full width</a>
                    </li>
                    <li>
                      <a href="../login.html">Login page</a>
                    </li>
                  </ul>
                </li>
                <li class=""><a href="blog.html">Blog</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="portfolio-3col.html">Three Columns</a>
                    </li>
                    <li>
                      <a href="portfolio-4col.html">Four Columns</a>
                    </li>
                    <li>
                      <a href="portfolio-featured.html">Featured Item</a>
                    </li>
                    <li>
                      <a href="portfolio-item.html">Single Item</a>
                    </li>
                  </ul>
                </li>
                <li class=""><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Main Content -->
    <div id="content" role="main">
      <section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>Sample Docs page</h1>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span3 docs-sidebar-menu">
        <ul class="nav nav-list docs-sidebar-nav">
          <li class="active">
            <a href="#overview">
              Overview
            </a>
          </li>
          <li>
            <a href="#transitions">
              Transitions
            </a>
          </li>
          <li>
            <a href="#modals">
              Modal
            </a>
          </li>
          <li>
            <a href="#dropdowns">
              Dropdown
            </a>
          </li>
          <li>
            <a href="#end">
              The end
            </a>
          </li>
        </ul>
      </div>
      <div class="span9">
        <h1>
          Sample Documentation page
        </h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur.
        </p>
        <section id="overview">
          <div class="page-header docs-header">
            <h2>
              Overview
              <small>an overview</small>
            </h2>
          </div>
          <p>
            Quaerat pariatur et dicta sapiente nulla dolores. sit sed dolorem ratione. minima dolore natus est
          </p>
          <p>
            Voluptatum omnis iste natus beatae esse ut voluptatem voluptates qui. rerum et deserunt quasi a voluptas et dignissimos illo sint quibusdam minima vero amet modi. provident eaque qui corporis minus voluptas nostrum odit dolor sit dignissimos minima atque temporibus. qui vel omnis optio similique veritatis. officia molestias voluptatem rerum ratione sapiente maiores. est et aut sed est magni laboriosam reprehenderit incidunt recusandae sunt suscipit quis
          </p>
          <p>
            Nostrum molestiae harum voluptatem consectetur dolore consequuntur sed ut laudantium quisquam fuga consequuntur. quia qui minus sunt eveniet blanditiis minima dignissimos veritatis ex est at esse eum in. quo iusto et qui sed voluptatibus architecto et expedita sed ex. sint id non facilis vel qui sapiente. fugiat autem et sit ut velit eos magni architecto magni voluptatum eum. dicta quisquam qui id possimus beatae necessitatibus sit velit sequi suscipit maiores. quam eos autem debitis est facere corporis officia tempora voluptatem sapiente quae similique eos dignissimos
          </p>
          <p>
            Quam pariatur dignissimos repellendus maiores est quae unde. iste eos sed sunt quaerat. consequatur aut quo et et fugiat qui molestiae mollitia velit sed occaecati est. voluptatem et est corrupti eum et ut autem sequi quia ea earum. est explicabo vel laborum illum quaerat ut aut totam. aut ipsum et sit veritatis molestiae explicabo officia accusantium
          </p>
          <p>
            Cupiditate totam et rem laboriosam voluptatem odit voluptas et odio accusamus facere sequi eaque fuga. rerum quis dicta praesentium sunt. consequatur maxime facilis inventore amet quae
          </p>
        </section>
        <section id="transitions">
          <div class="page-header docs-header">
            <h2>
              Transitions
              <small>some transitions</small>
            </h2>
          </div>
          <p>
            Et itaque harum dolor repellendus temporibus eum quod nobis. vel cupiditate neque ut voluptatem esse nam minus aut velit dolorem dolorem. vel quia quos omnis quasi dignissimos. ut aut dolores aut aut quasi et modi laborum. ipsum sed iste qui. ullam sit aspernatur qui excepturi quidem ut omnis eos nihil quam et ut non sapiente. eius eligendi voluptatem delectus officia aut adipisci
          </p>
          <p>
            Sit eius vero expedita aperiam. magni natus consequuntur dolor accusantium fugiat repellendus voluptatem esse. reiciendis hic natus tenetur non dicta repellendus. nisi et sunt aut saepe doloremque ut qui. et nobis fugit et quaerat dicta. ut voluptatem eum veniam est animi iure dignissimos repellendus veritatis amet quaerat esse et atque
          </p>
          <p>
            Tenetur omnis incidunt nemo dignissimos fugiat sed nihil eum voluptates fugiat molestiae et. ratione dolorum dolorem neque aliquid blanditiis perspiciatis rerum inventore. dolore molestiae voluptas debitis sunt. reprehenderit cupiditate qui vel ea velit molestiae et expedita tempore magnam ullam perferendis illum. necessitatibus quia blanditiis officia aut. est corrupti placeat exercitationem aut quia omnis sit rerum
          </p>
          <p>
            Hic incidunt sed ullam ut laudantium rerum. voluptas et iusto facilis consequatur. asperiores minus culpa laboriosam praesentium. corrupti odit omnis illo. fugit ipsa cupiditate quasi qui
          </p>
        </section>
        <section id="modals">
          <div class="page-header docs-header">
            <h2>
              Modals
              <small>some modals</small>
            </h2>
          </div>
          <p>
            Vero natus blanditiis rerum est et dignissimos aspernatur eligendi qui cum. quis molestiae dolore dolorem. quod aperiam ut omnis dolorum quia sequi sint. enim ut dicta modi dolore velit qui quis quia sunt voluptatem
          </p>
          <p>
            Officiis voluptatem dolorum est blanditiis quo adipisci tenetur laboriosam similique qui molestiae. id architecto voluptatem accusamus hic est magni quidem tempora ut est illo error. sed et consequuntur doloribus nihil omnis autem distinctio et nostrum dignissimos debitis sunt temporibus sunt. nemo possimus aut dicta aspernatur est beatae illo autem aut libero dignissimos. aut reiciendis non labore error
          </p>
          <p>
            Aperiam et aliquam consequuntur molestias qui sint qui harum quasi qui eveniet delectus maiores. harum consequatur sunt provident enim sed ratione ea dolorem atque porro. autem quia officiis itaque dignissimos voluptatum officiis qui. quaerat eaque dolor sapiente et est magni ea eos dolor aut. labore distinctio qui pariatur nulla cum sequi nisi itaque voluptate veniam
          </p>
          <p>
            Aut ab fugit dignissimos doloremque voluptatem hic non et vitae ipsam quos aut. consectetur et in est eum iure provident qui atque voluptatibus mollitia et. velit quos et in optio libero omnis placeat ab sint commodi autem id quaerat sequi. minus tenetur impedit blanditiis est ipsam consectetur eos fuga. ut praesentium fuga incidunt animi harum nihil ut adipisci non vel quia omnis possimus. nostrum et ipsum molestias ad minus magni quasi in reiciendis eligendi
          </p>
          <p>
            Est qui recusandae occaecati quis mollitia. aut fuga est aut iure cumque. reprehenderit rerum velit a eos ut aut deserunt sed ut aut aspernatur voluptatem et. omnis eligendi quo vel nihil omnis aut
          </p>
        </section>
        <section id="dropdowns">
          <div class="page-header docs-header">
            <h2>
              Drop Downs
              <small>some drop downs</small>
            </h2>
          </div>
          <p>
            Officia deleniti illo sit laudantium. aut aut rerum numquam laboriosam alias voluptatem quis consequuntur quam. libero quia dolores quasi consequatur aut voluptates animi omnis eligendi quasi odit iure ut et. doloribus qui quaerat velit aliquid autem dolorem. et earum ut eligendi non optio fugiat nemo ut et quisquam enim qui suscipit quis. optio animi ab sit asperiores animi ratione aut distinctio eos molestias in. atque mollitia qui sed qui possimus amet corrupti aliquam
          </p>
          <p>
            Ab et aut cum magnam magnam laborum. sint culpa aliquid laborum sit tempore ut. deleniti veniam quisquam nam. debitis dolore aut ea rem facere dolorem sequi nisi soluta iusto aspernatur facilis laboriosam. sit dolorem omnis assumenda voluptas rerum est tenetur. quia deserunt quia sint quia voluptatem praesentium praesentium rerum qui pariatur
          </p>
          <p>
            At exercitationem et in eum explicabo. itaque distinctio at omnis odio nihil et expedita laudantium est. doloremque ex minima enim maxime accusamus
          </p>
        </section>
        <section id="end">
          <div class="page-header docs-header">
            <h2>
              The end
              <small>some last words</small>
            </h2>
          </div>
          <p>
            Ea quod occaecati illum ipsa error libero iste voluptatum inventore ratione iusto quidem at quas. suscipit necessitatibus est quam labore commodi perspiciatis nulla doloremque ipsum. sit et quis ut ducimus. omnis culpa assumenda rerum aut porro maxime sed corrupti id voluptas voluptatem adipisci ex
          </p>
          <p>
            Quam id inventore et sint recusandae. esse nobis vitae atque modi hic recusandae omnis error nisi error atque. in et repellat laborum amet tempore. et dolores et qui pariatur neque totam dolor nostrum voluptatum
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
    </div>
    <!-- Page Footer -->
    <footer class="section" id="footer" role="contentinfo">
      <div class="container">
        <div class="row-fluid">
          <div class="span4">
            <h3>Contact us</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <ul class="icons">
              <li>
                <i class="icon-envelope"></i>
                <a href="mailto:dave@davegandy.com">John Doe</a>
              </li>
              <li>
                <i class="icon-twitter"></i>
                <a href="http://twitter.com/oxygenna/" target="_blank">@FortAweso_me</a>
              </li>
              <li>
                <i class="icon-facebook"></i>
                <a href="http://kyruus.com" target="_blank">oxygenna</a>
              </li>
            </ul>
          </div>
          <div class="span4">
            <h3>Recent news</h3>
            <ul class="icons">
              <li>
                <p><i class="icon-twitter"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  <small>
                    by
                    <a href="#">oxygenna.com</a>
                  </small>
                </p>
              </li>
              <li>
                <p><i class="icon-twitter"></i>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  <small>
                    by
                    <a href="#">oxygenna.com</a>
                  </small>
                </p>
              </li>
            </ul>
          </div>
          <div class="span4">
            <h3>Latest posts</h3>
            <ul class="unstyled">
              <li>
                <h4>
                  <a href="#">A responsive business theme</a>
                </h4>
                <p>
                  <small>November 12, 2012</small>
                </p>
              </li>
              <li>
                <h4>
                  <a href="#">Designed for big and small screens</a>
                </h4>
                <p>
                  <small>August 23, 2012</small>
                </p>
              </li>
              <li>
                <h4>
                  <a href="#">Based on bootstrap framework</a>
                </h4>
                <p>
                  <small>July 22, 2011</small>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="../../inishal/static/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="../../inishal/static/javascripts/bootstrap.js" type="text/javascript"></script>
    <script src="../../inishal/static/javascripts/script.js" type="text/javascript"></script>
  <script type="text/javascript">
if (typeof gaJsHost == 'undefined') {
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("#########");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
